@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lobster);

div#interface {
   width: 800px;
   background-color: rgba(254,245,214, 1);
   margin: -20px auto 0px auto;
   padding: 40px;

}

h1 {
  text-align: center;
  color: rgba(176,222,219, 1);
  font-family: 'Lobster', cursive;
  font-size: 30pt;

}
